<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <!--공통헤더-->
    <header th:fragment="common">

        <section class="logo_area">
            <a th:href="@{/admin}">로고</a>
        </section>

        <section class="btn_area">
            <!--로그인했을때-->
            <th:block sec:authorize="isAuthenticated()">
                <a th:href="@{/member/info}">회원정보수정</a>
                <a th:href="@{/member/logout}">로그아웃</a>
            </th:block>

            <!--비회원-->
            <th:block sec:authorize="isAnonymous()">
                <a th:href="@{/member/join}">회원가입</a>
                <a th:href="@{/member/login}">로그인</a>
            </th:block>
        </section>


    </header>

</html>